[user]
	name = Luke Xavier Symington
	email = lxsymington@gmail.com
[core]
	autocrlf = input
	trustctime = false
	editor = nvim
	filemode = false
	pager = delta
	excludesfile = ~/.gitignore
[alias]
	ls = "log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cgreen [%an]'"
	lsd = "log --pretty=format:'%C(yellow)%h (%ar)%Cred%d %Creset%s %Cgreen[%an]'"
	lg = "log --color --graph --pretty=format:'%C(yellow)%h (%ar)%Cred%d %Creset%s %Cgreen[%an]' --abbrev-commit"
	sc = "diff-tree --name-status -r -v"
	scm = "diff-tree --name-status -r -v -m"
	lc = "diff-tree --name-status -r -v HEAD"
	lcd = "diff --cached HEAD^"
	pr = "pull --rebase"
	u = "remote update --prune"
	s = "status"
	ab = "branch -a"
	co = "checkout"
	la = "!git config -l | grep alias | cut -c 7-"
	pause = "update-index --assume-unchanged"
	unpause = "update-index --no-assume-unchanged"
	showpaused = "!git ls-files -v | grep '^[hsmrck?]' | cut -c 3-"
	cleanbin = "clean -xdf */bin/* */obj/*f"
	last = "log -1 --stat"
	cp = "cherry-pick"
	ci = "commit"
	st = "status -sb"
	br = "branch"
	unstage = "reset HEAD --"
	dc = "diff --cached"
	conflicts = "diff --name-only --diff-filter=U"
	short-recent = "for-each-ref --count=25 --sort=-committerdate refs/heads/ --format='%(refname:short)'"
	fco = "!git short-recent | fzf --print0 --preview-window top:50% --preview 'git show {}| delta' | xargs -0 -t git checkout"
[push]
	default = upstream
[pull]
	ff = only
[color]
	ui = true
[diff]
	tool = nvimdiff2
	guitool = bc
	algorithm = patience
	indentHeuristic = true
	compactionHeuristic = true
	colorMoved = default
[merge]
	tool = nvimdiff4
	guitool = bc
	conflictstyle = diff3
	algorithm = patience
	indentHeuristic = true
	compactionHeuristic = true
[difftool]
	prompt = false
	trustexitcode = true
[mergetool]
	prompt = false
	trustexitcode = true
	keepBackup = false
	keepTemporaries = false
[mergetool "nvimdiff4"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool "nvimdiff2"]
	cmd = nvim -d $LOCAL $REMOTE
[commit]
	template = ~/.git-commit-template
	verbose = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[delta]
	features = side-by-side line-numbers decorations
	syntax-theme = OneHalfDark
	plus-style = syntax "#003800"
	minus-style = syntax "#3f0001"

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
	hunk-header-decoration-style = black box ul

[delta "line-numbers"]
	line-numbers-left-style = black
	line-numbers-right-style = black
	line-numbers-minus-style = 124
	line-numbers-plus-style = 28
