[user]
	name = Luke Xavier Symington
	email = lukexaviersymington@gmail.com
[includeIf "gitdir:~/Development/Seccl/"]
    path = ~/.gitconfig.seccl
[core]
	autocrlf = input
	trustctime = false
	editor = nvim
	filemode = false
	pager = delta
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[alias]
	co = "checkout"
	lc = "diff-tree --name-status -r -v HEAD"
	list-aliases = "config -l | grep alias | cut -c 7-"
	conflicts = "diff --name-only --diff-filter=U"
	record = "! sh -c '(git add -p -- $argv && git commit) || git reset' --"
	graph-log = "log --color=always --graph --date=short --pretty=format:'%C(green)%C(bold)%cd %C(auto)%h%d %s %m %C(magenta)%C(italic)[%an]%C(reset)' --abbrev-commit"
	branches =  "for-each-ref --color=always --sort=-committerdate --format='%(color:red)%(objectname:short)%(color:reset) | %(color:yellow)%(refname:short)%(color:reset) |> %(color:magenta)%(authorname)%(color:reset) - %(contents:subject) (%(color:green)%(committerdate:relative)%(color:reset))'"
	local-branches =  "!git branches refs/heads"
	remote-branches = "!git branches refs/remotes"
	mru = "for-each-ref --count=25 --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'"
	find-branch = "!git branches | fzf --ansi --preview-window=top:60% --preview='echo {} | cut -d\" \" -f3 | xargs -n 1 -t git show | delta --width 240' | cut -d' ' -f3 | sed 's/^origin\\///'"
	find-hash = "!git graph-log | fzf --ansi --no-sort --reverse --preview-window top:60% --preview='echo {} | rg -o \"\\b[a-f0-9]{7,}\\b\" | xargs -t git show | delta --width 240' | rg -o '\\b[a-f0-9]{7,}\\b'"
	search-checkout = "!git find-branch | xargs git checkout"
	search-new-checkout = "!git fetch && git find-branch | xargs git checkout"
	branch-changes = "!git rev-parse --abbrev-ref HEAD | awk '{print $argv\"..\"$1}' | xargs git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
	base-branch-changes = "!git rev-parse --abbrev-ref HEAD | awk '{print $1\"..\"$argv}' | xargs git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
[push]
	default = upstream
[pull]
	ff = only
[color]
	ui = true
[diff]
	tool = nvimdiff2
	algorithm = patience
	indentHeuristic = true
	compactionHeuristic = true
	colorMoved = default
[merge]
	tool = nvim
	conflictstyle = diff3
	algorithm = patience
	indentHeuristic = true
	compactionHeuristic = true
[difftool]
	prompt = false
	trustexitcode = true
[mergetool]
	prompt = false
	trustexitcode = true
	keepBackup = false
	keepTemporaries = false
[mergetool "nvim"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd b' -c 'wincmd J'
[difftool "nvimdiff2"]
	cmd = nvim -d $LOCAL $REMOTE
[commit]
	template = ~/.git-commit-template
	verbose = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[delta]
	features = side-by-side line-numbers decorations
	syntax-theme = Solarized (light)
[delta "decorations"]
	commit-decoration-style = bold purple box ul
	file-style = bold purple ul
	file-decoration-style = none
	hunk-header-decoration-style = black box ul
[delta "line-numbers"]
	line-numbers-left-style = black
	line-numbers-right-style = black
	line-numbers-minus-style = 124
	line-numbers-plus-style = 28
[safe]
	directory = /Users/lukexaviersymington/Tools/neovim
