node_modules
plugged
.netrwhist
fish/fishd.*
fish/functions/*
!fish/functions/nvm.fish
!fish/functions/ls.fish
fish/fish_variables
fish/conf.d/*
!fish/conf.d/fnm.fish
fish/completions
vim/.vim/autoload/plug.vim*
vim/.vim/session
vim/.vim/sessions
packer_compiled.vim
packer_compiled.lua
