node_modules
plugged
.netrwhist
fish/fishd.*
fish/functions/*
!fish/functions/ls.fish
fish/fish_variables
fish/completions
vim/.vim/autoload/plug.vim*
vim/.vim/session
vim/.vim/sessions
packer_compiled.vim
packer_compiled.lua
