node_modules
.netrwhist
fish/.config/fish/fishd.*
fish/.config/fish/functions/*
!fish/.config/fish/functions/ls.fish
fish/.config/fish/conf.d/*
!fish/.config/fish/conf.d/fisher.fish
!fish/.config/fish/conf.d/keychain.fish
!fish/.config/fish/conf.d/neovim.fish
!fish/.config/fish/conf.d/nix.fish
!fish/.config/fish/conf.d/seccl.fish
!fish/.config/fish/conf.d/starship.fish
!fish/.config/fish/conf.d/volta.fish
!fish/.config/fish/conf.d/wasmtime.fish
!fish/.config/fish/conf.d/zoxide.fish
fish/.config/fish/fish_variables
fish/.config/fish/completions
packer_compiled.vim
packer_compiled.lua
venv
